/* Start Global Rules */
*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

:root {
    --white-color: #ffffff;
    --secondary-color: #c8a165;
    --third-color: #c87065;
    --color-dark: #666666;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

@media (min-width: 576px) {
    .container {
        width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 960px;
    }
}

@media (min-width: 1200px) {

    .container {
        width: 1140px;
    }
}

/* End Global Rules */
/* Start Header */
header .icons {
    background-color: #f5f5f3;
    display: flex;
    justify-content: center;
    gap: 40px;
}

header .icons a {
    display: block;
    padding: 20px 0;
}

header .icons a i {
    color: var(--color-dark);
    font-size: 13px;
    transition: 0.3s ease-in-out;
}

header .icons a i:hover {
    color: var(--secondary-color);
}

header .logo-cart {
    background-color: var(--white-color);
    height: 100px;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo-cart .bars,
header .logo-cart .nav-menu {
    display: none;
}

header .logo-cart .cart {
    position: relative;
}

header .logo-cart .cart>a:first-child {
    display: block;
    padding: 38px 0 38px 15px;
}

header .logo-cart .cart>a:first-child i {
    font-size: 25px;
    color: #333333;
    position: relative;
    transition: 0.3s ease-in-out;
}

header .logo-cart .cart>a:first-child i::after {
    content: attr(data-number);
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    position: absolute;
    top: 0;
    right: -10px;
    transform: translateY(-50%);
    color: var(--white-color);
    background-color: var(--third-color);
    font-weight: 700;
    font-size: 10px;
    border-radius: 50%;
}

header .logo-cart .cart>a:first-child:hover i {
    color: var(--third-color);
}

header .logo-cart .cart .hover {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: var(--white-color);
    position: absolute;
    top: calc(100% + 45px);
    right: -10px;
    padding: 20px;
    width: 300px;
    z-index: 4;
    opacity: 0;
    visibility: hidden;
    border: 0.5px solid rgba(190, 190, 190, 0.5);
    transition: 0.3s ease-in-out;
}

header .logo-cart .cart:hover .hover {
    top: 100%;
    opacity: 1;
    visibility: visible;
}

header .logo-cart .cart .hover p {
    font-weight: 400;
    font-size: 13px;
    line-height: 1.53;
}

header .logo-cart .cart .hover>p {
    color: var(--color-dark);
    width: fit-content;
    margin-left: auto;
    margin-bottom: 10px;
}

header .logo-cart .cart .hover>p span {
    color: var(--third-color);
    margin: 0 5px;
}

header .logo-cart .cart .hover .product {
    display: flex;
    gap: 14px;
    position: relative;
}

header .logo-cart .cart .hover .product .description a h4 {
    font-family: 'Bree Serif', serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    text-transform: uppercase;
    color: #434343;
    transition: 0.3s ease-in-out;
}

header .logo-cart .cart .hover .product .description a h4:hover {
    color: var(--secondary-color);
}

header .logo-cart .cart .hover .product .description p {
    color: #999999;
}

header .logo-cart .cart .hover .product .description p:first-of-type {
    margin: 10px 0;
}

header .logo-cart .cart .hover .product i {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(50%, -50%);
    color: #999999;
    font-size: 16px;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

header .logo-cart .cart .hover .product i:hover {
    color: var(--secondary-color);
}

header .logo-cart .cart .hover .total {
    display: flex;
    justify-content: space-between;
}

header .logo-cart .cart .hover .total h4 {
    font-weight: 900;
    font-size: 14px;
    line-height: 2;
    color: #434343;
    text-transform: uppercase;
    margin: 10px 0;
}

header .logo-cart .cart .hover .links {
    display: flex;
    justify-content: center;
    gap: 10px;
}

header .logo-cart .cart .hover .links a {
    display: block;
    text-transform: uppercase;
    width: 113px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-weight: 700;
    font-size: 13px;
    color: var(--color-dark);
    background-color: #efefef;
    overflow: hidden;
    position: relative;
}

header .logo-cart .cart .hover .links a::before {
    content: attr(data-text);
    background: var(--secondary-color);
    color: var(--white-color);
    position: absolute;
    left: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    transition: 0.3s ease-in-out;
}

header .logo-cart .cart .hover .links a::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border: 2px solid #d3d3d3;
    z-index: 1;
}

header .logo-cart .cart .hover .links a:hover::before,
header .logo-cart .cart .hover .links a:focus::before,
header .logo-cart .cart .hover .links a:active::before {
    left: 0;
}

header .menu {
    background-color: var(--secondary-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    min-height: 45px;
    padding: 10px 20px;
    overflow: hidden;
}

header .menu>div:first-child {
    color: var(--white-color);
    font-size: 18px;
    text-transform: uppercase;
}

header .menu .bars-icon {
    display: flex;
    flex-direction: column;
    gap: 6px;
    cursor: pointer;
}

header .menu .bars-icon .bar {
    width: 30px;
    height: 3px;
    background-color: var(--white-color);
    transition: 0.3s ease-in-out;
}

header .menu .change-bars .top {
    transform: rotate(-45deg) translate(-4px, 6px);
}

header .menu .change-bars .center {
    opacity: 0;
}

header .menu .change-bars .bottom {
    transform: rotate(45deg) translate(-8px, -8px);
}

header .menu .navigation {
    flex-basis: 100%;
    max-height: 0;
    position: relative;
    top: 11px;
    transition: 0.3s ease-in-out;
}

header .menu .toggle-Sidebar {
    display: none;
}

header .menu .toggle-Sidebar:checked~.navigation {
    max-height: 2000px;
}

header .menu .navigation>ul {
    margin-bottom: 20px;
}

header .menu .navigation ul li {
    background-color: #f8f8f8;
}

header .menu .navigation>ul>li:not(li.home),
header .menu .navigation>ul>li ul li {
    border-top: 0.5px solid #bebebe;
}

header .menu .navigation ul li a {
    display: block;
    font-size: 12px;
    transition: 0.3s ease-in-out;
}

header .menu .navigation>ul>li>a {
    padding: 15px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--color-dark);
}

header .menu .navigation>ul>li ul li a {
    padding: 15px 40px;
    font-weight: 400;
    color: #444444;
}

header .menu .navigation ul li a:hover {
    color: var(--secondary-color);
}

header .menu .navigation>ul>li.pages {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    overflow: hidden;
}

header .menu .navigation>ul>li.pages>a:first-child {
    flex-basis: 100%;
    position: relative;
}

header .menu .navigation>ul li.pages ul {
    flex-basis: 100%;
    max-height: 0;
    transition: 0.3s ease-in-out;
}

header .menu .navigation .toggle-plus {
    display: none;
}

header .menu .navigation .toggle-plus:checked~.sub-menu {
    max-height: 1000px;
}

header .menu .navigation>ul>li.pages .plus-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

header .menu .navigation>ul>li.pages .plus-icon::before,
header .menu .navigation>ul>li.pages .plus-icon::after {
    content: "";
    background-color: var(--color-dark);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s ease-in-out;
}

header .menu .navigation>ul>li.pages .plus-icon::before {
    width: 10px;
    height: 2px;
}

header .menu .navigation>ul>li.pages .plus-icon::after {
    width: 2px;
    height: 10px;
}

header .menu .navigation>ul>li.pages .plus-icon:hover::before,
header .menu .navigation>ul>li.pages .plus-icon:hover::after {
    background-color: var(--secondary-color);
}

header .menu .navigation>ul>li .change-plus::after {
    opacity: 0;
}

@media (min-width: 768px) {

    header .icons,
    header .menu {
        display: none;
    }

    header .logo-cart {
        padding: 0 40px;
        position: fixed;
        width: 100%;
    }

    header .logo-cart.nav-active {
        height: 80px;
        background-color: #eeeeee !important;
        transition: 0.3s ease-in-out;
    }

    header .logo-cart .bars {
        display: block;
        order: -1;
        cursor: pointer;
    }

    header .logo-cart .bars i {
        font-size: 30px;
        color: #333333;
    }

    header .logo-cart .cart .hover {
        width: 350px;
    }

    header .logo-cart .nav-menu {
        display: block;
        height: 100%;
        width: 225px;
        position: fixed;
        top: 0;
        left: -225px;
        z-index: 10;
        background-color: var(--white-color);
        transition: 0.3s ease-in-out;
        padding-top: 100px;
    }

    header .logo-cart .nav-menu ul {
        padding-top: 40px;
    }

    header .logo-cart .nav-menu>ul>li>a {
        display: block;
        font-weight: 700;
        font-size: 14px;
        line-height: 45px;
        padding-left: 60px;
        text-transform: uppercase;
        color: var(--color-dark);
        position: relative;
    }

    header .logo-cart .nav-menu>ul>li>a::before {
        content: attr(data-text);
        position: absolute;
        color: var(--white-color);
        background-color: var(--secondary-color);
        left: -255px;
        top: 0;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        padding-left: 60px;
        text-transform: uppercase;
        transition: 0.3s ease-in-out;
    }

    header .logo-cart .nav-menu>ul>li>a:hover::before {
        left: 0;
    }

    header .logo-cart .nav-menu .close {
        position: absolute;
        top: 50px;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 30px;
        color: #333333;
        cursor: pointer;
    }

    header .logo-cart .nav-menu>ul>li.pages .sub-nav-menu {
        background-color: var(--white-color);
        height: 100%;
        width: 225px;
        position: fixed;
        top: 0;
        left: 300px;
        z-index: 10;
        padding-top: 100px;
        opacity: 0;
        visibility: hidden;
        transition: 0.3s ease-in-out;
        border-left: 1px solid var(--secondary-color);
    }

    header .logo-cart .nav-menu>ul>li.pages:hover .sub-nav-menu {
        left: 225px;
        opacity: 1;
        visibility: visible;
    }

    header .logo-cart .nav-menu>ul>li.pages .sub-nav-menu ul li a {
        display: block;
        font-weight: 700;
        font-size: 12px;
        line-height: 28px;
        padding-left: 60px;
        color: var(--color-dark);
        text-transform: uppercase;
        transition: 0.3s ease-in-out;
    }

    header .logo-cart .nav-menu>ul>li.pages .sub-nav-menu ul li a:hover {
        color: var(--secondary-color);
    }

    header .logo-cart .nav-menu>ul>li.pages .sub-nav-menu ul li.sub-nav-menu-title {
        padding-left: 60px;
        line-height: 45px;
    }
}

/* End Header */