/* Start Global Rules */
*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

:root {
    --white-color: #ffffff;
    --secondary-color: #c8a165;
    --third-color: #c87065;
    --color-dark: #666666;
    --fourth-color: #999999;
    --fifth-color: #434343;
    --section-padding: 40px;
    --main-transition: 0.3s;
}

.container {
    margin-left: auto;
    margin-right: auto;
}

/* Start Compenent */
.main-heading {
    margin-bottom: var(--section-padding);
}

.main-heading h3 {
    font-weight: 900;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    color: #444444;
    position: relative;
}

.main-heading h3::before {
    content: "";
    position: absolute;
    background-color: var(--third-color);
    width: 60px;
    height: 2px;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
}


@media (min-width: 480px) {
    .main-heading h3 {
        font-size: 22px;
        line-height: 22px;
    }
}

@media (min-width: 768px) {
    .main-heading h3 {
        font-size: 30px;
        line-height: 30px;
    }
}

/* End Compenent */
@media (max-width:479px) {
    .container {
        width: 300px;
    }
}

@media (min-width:480px) and (max-width:767px) {
    .container {
        width: 450px;
    }
}

@media (min-width: 768px) {
    .container {
        width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1140px;
    }
}

/* End Global Rules */
/* Start Header */

/* Start Overlay Search  */

header .overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 999999;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.9);
    transition: 1s ease-in-out;
    transform: translateY(-100%);
}

header .overlay .container {
    height: 100vh;
    position: relative;
}

header .overlay .container a {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translateX(-50%);
}

header .overlay .container i {
    color: var(--fourth-color);
    transition: var(--main-transition) ease-in-out;
}

header .overlay .container button[type="submit"] i {
    font-size: 22.5px;
}

header .overlay .container a i {
    font-size: 25px;
}

header .overlay .container a:hover i,
header .overlay .container a:focus i {
    color: var(--secondary-color);
}

header .overlay .container form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    position: relative;
    display: flex;
}

header .container input[type="text"] {
    flex-basis: 100%;
    padding: 12px;
    border: none;
    border-bottom: 1px solid var(--third-color);
    background-color: transparent;
    caret-color: var(--fourth-color);
}

header .container button[type="submit"] {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 12px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

header .container button[type="submit"]:hover i,
header .container button[type="submit"]:focus i {
    color: var(--secondary-color);
}

header .container button[type="submit"]:focus,
header .container input[type="text"]:focus {
    outline: none;
}

header .container input::placeholder {
    font-weight: 400;
    font-size: 16px;
    color: var(--fourth-color);
}

@media (min-width:768px) {
    header .overlay .container a {
        top: 25%;
    }
}

/* End Overlay Search  */

header .icons {
    height: 60px;
    background-color: #f5f5f3;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

header .icons li a {
    display: block;
    padding: 20px;
}

header .icons li a i {
    color: var(--color-dark);
    font-size: 13px;
    transition: var(--main-transition) ease-in-out;
}

header .icons li:hover a i {
    color: var(--secondary-color);
}

header .logo-cart {
    background-color: var(--white-color);
    height: 100px;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo-cart .bars,
header .logo-cart .nav-menu {
    display: none;
}

header .logo-cart .cart {
    position: relative;
}

header .logo-cart .cart>a:first-child {
    display: block;
    padding: 38px 0 38px 15px;
}

header .logo-cart .cart>a:first-child i {
    font-size: 25px;
    color: #333333;
    position: relative;
    transition: var(--main-transition) ease-in-out;
}

header .logo-cart .cart>a:first-child i::after {
    content: attr(data-number);
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    position: absolute;
    top: 0;
    right: -10px;
    transform: translateY(-50%);
    color: var(--white-color);
    background-color: var(--third-color);
    font-weight: 700;
    font-size: 10px;
    border-radius: 50%;
}

header .logo-cart .cart>a:first-child:hover i {
    color: var(--third-color);
}

header .logo-cart .cart .hover {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: var(--white-color);
    position: absolute;
    top: calc(100% + 45px);
    right: -10px;
    padding: 20px;
    width: 300px;
    z-index: 4;
    opacity: 0;
    visibility: hidden;
    border: 0.5px solid rgba(190, 190, 190, 0.5);
    transition: var(--main-transition) ease-in-out;
}

header .logo-cart .cart:hover .hover {
    top: 100%;
    opacity: 1;
    visibility: visible;
}

header .logo-cart .cart .hover p {
    font-weight: 400;
    font-size: 13px;
    line-height: 1.53;
}

header .logo-cart .cart .hover>p {
    color: var(--color-dark);
    width: fit-content;
    margin-left: auto;
    margin-bottom: 10px;
}

header .logo-cart .cart .hover>p span {
    color: var(--third-color);
    margin: 0 5px;
}

header .logo-cart .cart .hover .product {
    display: flex;
    gap: 12px;
    position: relative;
}

header .logo-cart .cart .hover .product .description a h4 {
    font-family: 'Bree Serif', serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    text-transform: uppercase;
    color: var(--fifth-color);
    transition: var(--main-transition) ease-in-out;
}

header .logo-cart .cart .hover .product .description a h4:hover {
    color: var(--secondary-color);
}

header .logo-cart .cart .hover .product .description p {
    color: var(--fourth-color);
}

header .logo-cart .cart .hover .product .description p:first-of-type {
    margin: 10px 0;
}

header .logo-cart .cart .hover .product i {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(50%, -50%);
    color: var(--fourth-color);
    font-size: 16px;
    transition: var(--main-transition) ease-in-out;
    cursor: pointer;
}

header .logo-cart .cart .hover .product i:hover {
    color: var(--secondary-color);
}

header .logo-cart .cart .hover .total {
    display: flex;
    justify-content: space-between;
}

header .logo-cart .cart .hover .total h4 {
    font-weight: 900;
    font-size: 14px;
    line-height: 2;
    color: var(--fifth-color);
    text-transform: uppercase;
    margin: 10px 0;
}

header .logo-cart .cart .hover .links {
    display: flex;
    justify-content: center;
    gap: 10px;
}

header .logo-cart .cart .hover .links a {
    display: block;
    text-transform: uppercase;
    width: 113px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-weight: 700;
    font-size: 13px;
    color: var(--color-dark);
    background-color: #efefef;
    overflow: hidden;
    position: relative;
}

header .logo-cart .cart .hover .links a::before {
    content: attr(data-text);
    background: var(--secondary-color);
    color: var(--white-color);
    position: absolute;
    left: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    transition: var(--main-transition) ease-in-out;
}

header .logo-cart .cart .hover .links a::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border: 2px solid #d3d3d3;
    z-index: 1;
}

header .logo-cart .cart .hover .links a:hover::before,
header .logo-cart .cart .hover .links a:focus::before,
header .logo-cart .cart .hover .links a:active::before {
    left: 0;
}

header .menu {
    background-color: var(--secondary-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    min-height: 45px;
    padding: 10px 20px;
    overflow: hidden;
}

header .menu>div:first-child {
    color: var(--white-color);
    font-size: 18px;
    text-transform: uppercase;
}

header .menu .bars-icon {
    display: flex;
    flex-direction: column;
    gap: 6px;
    cursor: pointer;
}

header .menu .bars-icon .bar {
    width: 30px;
    height: 3px;
    background-color: var(--white-color);
    transition: var(--main-transition) ease-in-out;
}

header .menu .change-bars .top {
    transform: rotate(-45deg) translate(-4px, 6px);
}

header .menu .change-bars .center {
    opacity: 0;
}

header .menu .change-bars .bottom {
    transform: rotate(45deg) translate(-8px, -8px);
}

header .menu .navigation {
    flex-basis: 100%;
    max-height: 0;
    position: relative;
    top: 11px;
    transition: max-height 0.5s ease-in-out;
}

header .menu .toggle-Sidebar {
    display: none;
}

header .menu .toggle-Sidebar:checked~.navigation {
    max-height: 2000px;
}

header .menu .navigation>ul {
    margin-bottom: 20px;
}

header .menu .navigation ul li {
    background-color: #f8f8f8;
}

header .menu .navigation>ul>li:not(li.home),
header .menu .navigation>ul>li ul li {
    border-top: 0.5px solid #bebebe;
}

header .menu .navigation ul li a {
    display: block;
    font-size: 12px;
    transition: var(--main-transition) ease-in-out;
}

header .menu .navigation>ul>li>a {
    padding: 15px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--color-dark);
}

header .menu .navigation>ul>li ul li a {
    padding: 15px 40px;
    font-weight: 400;
    color: #444444;
}

header .menu .navigation ul li a:hover {
    color: var(--secondary-color);
}

header .menu .navigation>ul>li.pages {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    overflow: hidden;
}

header .menu .navigation>ul>li.pages>a:first-child {
    flex-basis: 100%;
    position: relative;
}

header .menu .navigation>ul li.pages ul {
    flex-basis: 100%;
    max-height: 0;
    transition: max-height var(--main-transition) ease-out;
}

header .menu .navigation .toggle-plus {
    display: none;
}

header .menu .navigation .toggle-plus:checked~.sub-menu {
    max-height: 1000px;
}

header .menu .navigation>ul>li.pages .plus-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

header .menu .navigation>ul>li.pages .plus-icon::before,
header .menu .navigation>ul>li.pages .plus-icon::after {
    content: "";
    background-color: var(--color-dark);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: var(--main-transition) ease-in-out;
}

header .menu .navigation>ul>li.pages .plus-icon::before {
    width: 10px;
    height: 2px;
}

header .menu .navigation>ul>li.pages .plus-icon::after {
    width: 2px;
    height: 10px;
}

header .menu .navigation>ul>li.pages .plus-icon:hover::before,
header .menu .navigation>ul>li.pages .plus-icon:hover::after {
    background-color: var(--secondary-color);
}

header .menu .navigation>ul>li .change-plus::after {
    opacity: 0;
}

@media (min-width: 768px) {

    header .icons,
    header .menu {
        display: none;
    }

    header .logo-cart {
        padding: 0 40px;
        position: fixed;
        width: 100%;
        z-index: 9999;
    }

    header .nav-active {
        height: 80px;
        background-color: #eeeeee;
        transition: var(--main-transition) ease-in-out;
    }

    header .logo-cart .bars {
        display: block;
        order: -1;
        cursor: pointer;
    }

    header .logo-cart .bars i {
        font-size: 30px;
        color: #333333;
    }

    header .logo-cart .cart .hover {
        width: 350px;
    }

    header .logo-cart .nav-menu {
        display: block;
        height: 100%;
        width: 225px;
        position: fixed;
        top: 0;
        left: -225px;
        z-index: 10;
        background-color: var(--white-color);
        transition: var(--main-transition) ease-in-out;
        padding-top: 100px;
    }

    header .logo-cart .nav-menu ul {
        padding-top: 40px;
    }

    header .logo-cart .nav-menu>ul>li>a {
        display: block;
        font-weight: 700;
        font-size: 14px;
        line-height: 45px;
        padding-left: 60px;
        text-transform: uppercase;
        color: var(--color-dark);
        position: relative;
    }

    header .logo-cart .nav-menu>ul>li>a::before {
        content: attr(data-text);
        position: absolute;
        color: var(--white-color);
        background-color: var(--secondary-color);
        left: -255px;
        top: 0;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        padding-left: 60px;
        text-transform: uppercase;
        transition: var(--main-transition) ease-in-out;
    }

    header .logo-cart .nav-menu>ul>li>a:hover::before {
        left: 0;
    }

    header .logo-cart .nav-menu .close {
        position: absolute;
        top: 50px;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 30px;
        color: #333333;
        cursor: pointer;
    }

    header .logo-cart .nav-menu>ul>li.pages .sub-nav-menu {
        background-color: var(--white-color);
        height: 100%;
        width: 225px;
        position: fixed;
        top: 0;
        left: 300px;
        z-index: 10;
        padding-top: 100px;
        opacity: 0;
        visibility: hidden;
        transition: var(--main-transition) ease-in-out;
        border-left: 1px solid var(--secondary-color);
    }

    header .logo-cart .nav-menu>ul>li.pages:hover .sub-nav-menu {
        left: 225px;
        opacity: 1;
        visibility: visible;
    }

    header .logo-cart .nav-menu>ul>li.pages .sub-nav-menu ul li a {
        display: block;
        font-weight: 700;
        font-size: 12px;
        line-height: 28px;
        padding-left: 60px;
        color: var(--color-dark);
        text-transform: uppercase;
        transition: var(--main-transition) ease-in-out;
    }

    header .logo-cart .nav-menu>ul>li.pages .sub-nav-menu ul li a:hover {
        color: var(--secondary-color);
    }

    header .logo-cart .nav-menu>ul>li.pages .sub-nav-menu ul li.sub-nav-menu-title {
        padding-left: 60px;
        line-height: 45px;
    }
}

/* End Header */
/* Start Slider */
.slider {
    padding: var(--section-padding) 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.slider .main-slider {
    position: relative;
    overflow: hidden;
}

.slider .main-slider .mySlides {
    display: none
}

.slider .main-slider .mySlides img {
    display: block;
    width: 100%;
    height: 100%;
}

.slider .main-slider .mySlides .text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 50%;
}

.slider .main-slider .mySlides .text h2:first-of-type,
.slider .main-slider .mySlides .text h3 {
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    color: #666666;
    text-transform: uppercase;
}

.slider .main-slider .mySlides .text h2:last-of-type {
    font-weight: 900;
    font-size: 18px;
    line-height: 23px;
    color: var(--fifth-color);
    margin: 5px 0;
    text-transform: uppercase;
}

.slider .main-slider .mySlides .text a {
    display: block;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
    width: fit-content;
    padding: 0 15px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #3d3d3d;
    background-color: #efefef;
    overflow: hidden;
    position: relative;
    margin-top: 20px;
}

.slider .main-slider .mySlides .text a::before {
    content: attr(data-text);
    background: var(--secondary-color);
    color: var(--white-color);
    position: absolute;
    left: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    transition: var(--main-transition) ease-in-out;
}

.slider .main-slider .mySlides .text a::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border: 2px solid #d3d3d3;
    z-index: 1;
}

.slider .main-slider .mySlides .text a:hover::before,
.slider .main-slider .mySlides .text a:focus::before,
.slider .main-slider .mySlides .text a:active::before {
    left: 0;
}

.slider .main-slider .mySlides .text p {
    display: none;
}

.slider .main-slider .prev,
.slider .main-slider .next {
    position: absolute;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    width: 30px;
    height: 40px;
    transition: var(--main-transition) ease-in-out;
}

.slider .main-slider .prev {
    clip-path: polygon(0 0, 0 100%, 100% 50%);
    left: 0;
}

.slider .main-slider .next {
    clip-path: polygon(100% 0, 0 50%, 100% 100%);
    right: 0;
}

.slider .main-slider .next i,
.slider .main-slider .prev i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 15px;
    color: #666666;
    transition: var(--main-transition) ease-in-out;
}

.slider .main-slider .next i {
    right: 5px;
}

.slider .main-slider .prev i {
    left: 5px;
}

.slider .main-slider .prev:hover,
.slider .main-slider .next:hover {
    background-color: var(--secondary-color);
}

.slider .main-slider .prev:hover i,
.slider .main-slider .next:hover i {
    color: var(--white-color);
}

.slider .main-slider .dots {
    position: absolute;
    left: 20px;
    bottom: 10px;
    display: flex;
    gap: 10px;
}

.slider .main-slider .dots .dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    background-color: #ccc;
    border-radius: 50%;
    transition: var(--main-transition) ease-in-out;
}

.slider .main-slider .dots .active,
.slider .main-slider .dots .dot:hover {
    background-color: var(--secondary-color);
}

.slider .main-slider .mySlides .slide-up {
    animation: slide-up 1.5s;
}

.slider .main-slider .mySlides .fade {
    animation: fade 1.5s;
}

@keyframes fade {
    from {
        opacity: 0.4
    }

    to {
        opacity: 1
    }
}

@keyframes slide-up {
    from {
        opacity: 0.4;
        transform: translateY(0%);
    }

    to {
        opacity: 1;
        transform: translateY(-50%);
    }
}

.slider .banners {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.slider .banners .banner {
    position: relative;
}

.slider .banners .banner img {
    display: block;
    width: 100%;
    height: 100%;
}

.slider .banners .first-banner span:first-of-type,
.slider .banners .first-banner span:last-of-type,
.slider .banners .banner>a,
.slider .banners .banner div {
    position: absolute;
}

.slider .banners .first-banner span:first-of-type,
.slider .banners .first-banner span:last-of-type {
    top: 20px;
}

.slider .banners .first-banner span:first-of-type {
    left: 30px;
    background-color: var(--secondary-color);
    color: var(--white-color);
    height: 25px;
    line-height: 25px;
    padding: 0 10px;
    font-weight: 400;
    font-size: 13px;
    border-radius: 5px;
}

.slider .banners .first-banner span:last-of-type {
    right: 30px;
    color: var(--fifth-color);
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}

.slider .banners .banner>a,
.slider .banners .banner div {
    bottom: 20px;
}

.slider .banners .banner>a {
    right: 30px;
    display: block;
    width: fit-content;
    font-weight: 400;
    font-size: 16px;
    padding: 0 15px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: var(--fifth-color);
    background-color: #efefef;
    overflow: hidden;
}

.slider .banners .banner>a::before {
    content: "Buy Now";
    background: var(--secondary-color);
    color: var(--white-color);
    position: absolute;
    left: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    transition: var(--main-transition) ease-in-out;
}

.slider .banners .banner>a::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border: 2px solid #d3d3d3;
    z-index: 1;
}

.slider .banners .banner>a:hover::before,
.slider .banners .banner>a:focus::before,
.slider .banners .banner>a:active::before {
    left: 0;
}

.slider .banners .banner div {
    left: 30px;
}

.slider .banners .banner div h4 a {
    display: block;
    font-weight: 700;
    font-size: 16px;
    line-height: 15px;
    color: var(--fifth-color);
    transition: var(--main-transition) ease-in-out;
    text-transform: uppercase;
}

.slider .banners .banner div h4 a:hover {
    color: #c8a165;
}

.slider .banners .banner div p {
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    color: #666666;
    margin-top: 5px;
}

.slider .icons-slider,
.slider .social-slider {
    display: none;
}

@media (min-width: 768px) {
    .slider {
        padding: var(--section-padding) 100px;
        position: relative;
        top: 100px;
    }

    .slider .main-slider .prev,
    .slider .main-slider .next {
        width: 50px;
        height: 60px;
    }

    .slider .main-slider .next i {
        right: 10px;
    }

    .slider .main-slider .prev i {
        left: 10px;
    }

    .slider .main-slider .dots {
        left: 30px;
        bottom: 20px;
    }

    .slider .banners {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .slider .icons-slider,
    .slider .social-slider {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        background-color: var(--white-color);
    }

    .slider .icons-slider {
        right: 20px;
    }

    .slider .social-slider {
        left: 20px;
    }

    .slider .icons-slider li a,
    .slider .social-slider li a {
        display: block;
        padding: 20px;
    }

    .slider .icons-slider li a i,
    .slider .social-slider li a i {
        color: var(--color-dark);
        font-weight: 900;
        font-size: 13px;
        transition: var(--main-transition) ease-in-out;
    }

    .slider .icons-slider li:hover a i,
    .slider .social-slider li:hover a i {
        color: var(--secondary-color);
    }

    .slider .main-slider .dots {
        left: initial;
        right: 30px;
    }

    .slider .main-slider .mySlides .text {
        padding-right: 50px;
    }

    .slider .main-slider .mySlides .text h2:first-of-type {
        font-size: 14px;
        line-height: 20px;
    }

    .slider .main-slider .mySlides .text h3 {
        font-size: 18px;
        line-height: 25px;
    }

    .slider .main-slider .mySlides .text h2:last-of-type {
        font-size: 28px;
        line-height: 38px;
    }

    .slider .main-slider .mySlides .text a {
        font-size: 13px;
        padding: 0 30px;
        height: 45px;
        line-height: 45px;
    }

    .slider .main-slider .mySlides .text p {
        display: block;
        font-weight: 400;
        font-size: 13px;
        line-height: 20px;
        color: #878686;
        margin-top: 5px;
    }
}

@media (min-width: 992px) {
    .slider .main-slider .mySlides .text h2:first-of-type {
        font-size: 18px;
        line-height: 26px;
    }

    .slider .main-slider .mySlides .text h3 {
        font-size: 20px;
        line-height: 30px;
    }

    .slider .main-slider .mySlides .text h2:last-of-type {
        font-size: 40px;
        line-height: 50px;
    }
}

@media (min-width: 1200px) {
    .slider {
        flex-direction: row;
        gap: 30px;
    }

    .slider .banners {
        grid-template-columns: 1fr;
        gap: 30px;
        order: -1;
    }
}

/* End Slider */
/* Start Featured Product */
.featured-product {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.featured-product .container .products {
    position: relative;
}

.featured-product .container .products .product {
    padding: 15px;
    transition: var(--main-transition) ease-in-out;
    position: relative;
    margin: 5px;
}

.featured-product .container .products .product.slick-active:hover {
    box-shadow: 1px 8px 15px rgb(0 0 0 / 12%);
}

.featured-product .container .products .product .image-product {
    position: relative;
    overflow: hidden;
}

.featured-product .container .products .product .image-product img {
    width: 100%;
}

.featured-product .container .products .product .image-product .product-icons {
    display: flex;
    width: calc(100% - 40px);
    padding: 8px 0;
    position: absolute;
    bottom: -35px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--white-color);
    transition: var(--main-transition) ease-in-out;
    opacity: 0;
    visibility: hidden;
}

.featured-product .container .products .product:hover .image-product .product-icons {
    bottom: 15px;
    visibility: visible;
    opacity: 1;
}

.featured-product .container .products .product .image-product .product-icons a {
    width: calc(100% / 4);
    text-align: center;
}

.featured-product .container .products .product .image-product .product-icons a:not(:last-child) {
    border-right: 1px solid var(--color-dark)
}

.featured-product .container .products .product .image-product .product-icons a i {
    color: var(--color-dark);
    font-size: 13px;
}

.featured-product .container .products .product .image-product .product-icons a:hover i {
    color: var(--secondary-color);
}

.featured-product .container .products .product .info-product {
    background-color: var(--white-color);
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 15px;
}

.featured-product .container .products .product .info-product .top,
.featured-product .container .products .product .info-product .bottom {
    display: flex;
    justify-content: space-between;
}

.featured-product .container .products .product .info-product .top h4 a {
    font-family: 'Bree Serif', serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--fifth-color);
    transition: var(--main-transition) ease-in-out;
}

.featured-product .container .products .product .info-product .top h4 a:hover {
    color: var(--secondary-color);
}

.featured-product .container .products .product .info-product .top p {
    display: none;
}

.featured-product .container .products .product .info-product .bottom .price {
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: var(--third-color);
}

.featured-product .container .products .product .info-product .bottom .stars a i {
    font-size: 13px;
    color: var(--third-color);
}

.featured-product .container .products .product .new {
    position: absolute;
    top: 30px;
    left: 30px;
    color: var(--white-color);
    height: 25px;
    line-height: 25px;
    padding: 0 10px;
    font-weight: 400;
    font-size: 13px;
    border-radius: 5px;
}

.featured-product .container .products .product .new {
    background-color: var(--secondary-color);
}

.featured-product .container .products .product-six .new {
    background-color: var(--third-color)
}

.slick-prev,
.slick-next {
    font-weight: 700;
    font-size: 13px;
    line-height: 20px;
    color: #a6a6a6;
    background-color: var(--white-color);
    width: 35px;
    border: 1px solid #d3d3d3;
    cursor: pointer;
    transition: var(--main-transition);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 3;
}

.slick-prev:hover,
.slick-next:hover {
    background-color: var(--secondary-color);
    color: var(--white-color);
    border-color: var(--secondary-color);
}

.slick-prev {
    left: 5px;
}

.slick-next {
    right: 5px;
}

@media (min-width:768px) {
    .featured-product {
        margin-top: 100px;
    }

    .featured-product .container .products .product .info-product .top p {
        display: block;
        font-weight: 700;
        font-size: 13px;
        line-height: 20px;
        color: var(--color-dark);
    }
}

/* End Featured Product */
/* Start Discounts */

.discounts {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--white-color);
}

.discounts .container {
    position: relative;
    padding: 0 5px;
}

.discounts .container .slick-track {
    display: flex !important;
}

.discounts .container .slick-slide {
    height: auto;
}

.discounts .container .slideshow-disc .mySlides-disc img {
    display: block;
    width: 100%;
    height: 100%;
}

.discounts .container .slick-dots {
    display: flex;
    gap: 10px;
    position: absolute;
    right: 25px;
    bottom: -20px;
}

.discounts .container .slick-dots li button {
    display: block;
    text-indent: -9999em;
    border: none;
    height: 10px;
    width: 10px;
    background-color: #ccc;
    border-radius: 50%;
    transition: var(--main-transition) ease-in-out;
    cursor: pointer;
}

.discounts .container .slick-dots li button:focus,
.discounts .container .slick-dots li button:hover,
.discounts .container .slick-dots .slick-active button {
    background-color: var(--secondary-color);
}

.discounts .container .info {
    position: absolute;
    top: 0px;
    right: 10px;
}

.discounts .container .info h4,
.discounts .container .info p {
    display: none;
}

.discounts .container .info a {
    position: relative;
    display: block;
    width: fit-content;
    font-weight: 700;
    font-size: 12px;
    padding: 0 15px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: var(--white-color);
    background-color: var(--third-color);
    overflow: hidden;
}

.discounts .container .info a::before {
    content: "Buy Now";
    background: var(--secondary-color);
    color: var(--white-color);
    position: absolute;
    left: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    transition: var(--main-transition) ease-in-out;
}

.discounts .container .info a:hover::before,
.discounts .container .info a:focus::before,
.discounts .container .info a:active::before {
    left: 0;
}

.discounts .container .sale {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 5px;
    left: 10px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    color: var(--white-color);
    background-color: var(--third-color);
}

.discounts .container .sale span {
    font-size: 10px;
    line-height: 10px;
}

.discounts .container .sale span:first-of-type {
    position: relative;
    font-weight: 400;
    padding-bottom: 10px;
}

.discounts .container .sale span:first-of-type:before {
    content: "";
    position: absolute;
    background-color: var(--white-color);
    width: 25px;
    height: 2px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 5px;
}

.discounts .container .sale span:last-of-type {
    font-weight: 700;
}

@media (min-width:480px) {
    .discounts .container .slick-dots {
        bottom: 10px;
    }
}

@media (min-width:768px) {
    .discounts .container .info {
        display: flex;
        flex-direction: column;
        gap: 20px;
        right: initial;
        top: 50px;
        left: 50%;
        padding-right: 50px;
    }

    .discounts .container .info h4 {
        display: block;
        font-weight: 900;
        font-size: 30px;
        line-height: 30px;
        color: var(--third-color);
    }

    .discounts .container .info p {
        display: block;
        font-weight: 400;
        font-size: 13px;
        line-height: 20px;
        color: var(--color-dark);
    }

    .discounts .container .info a {
        padding: 0 30px;
        font-size: 16px;
        margin-top: 20px;
    }

    .discounts .container .sale {
        top: 50px;
        left: calc(40% - 110px);
        height: 110px;
        width: 110px;
    }

    .discounts .container .sale span {
        font-size: 20px;
        line-height: 14px;
    }

    .discounts .container .sale span:first-of-type {
        padding-bottom: 20px;
    }

    .discounts .container .sale span:first-of-type:before {
        width: 40px;
        bottom: 10px;
    }
}

@media (min-width: 992px) {
    .discounts .container .info h4 {
        font-size: 45px;
        line-height: 35px;
    }
}

/* End Discounts */
/* Start Purchase online on Hurst */
.purchase-online-on-hurst {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.purchase-online-on-hurst .container {
    padding: 0 5px;
}

.purchase-online-on-hurst .container .tabs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-bottom: var(--section-padding);
}

.purchase-online-on-hurst .container .tabs li span {
    display: block;
    padding: 10px 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 10px;
    color: var(--color-dark);
    position: relative;
    overflow: hidden;
    transition: var(--main-transition) ease-in-out;
    cursor: pointer;
}

.purchase-online-on-hurst .container .tabs li span::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: var(--secondary-color);
    left: -100%;
    bottom: 0;
    transition: var(--main-transition) ease-in-out;
}

.purchase-online-on-hurst .container .tabs li span.active {
    color: var(--secondary-color);
}

.purchase-online-on-hurst .container .tabs li span.active::before {
    left: 0;
}

.purchase-online-on-hurst .container .tab-content {
    display: none;
}

.purchase-online-on-hurst .container .tab-content .products-online {
    display: grid;
    grid-template-columns: 1fr;
}

.purchase-online-on-hurst .container .tab-content .products-online .product {
    padding: 15px;
    transition: var(--main-transition) ease-in-out;
    position: relative;
    margin: 5px;
}

.purchase-online-on-hurst .container .tab-content .products-online .product:hover {
    box-shadow: 1px 8px 15px rgb(0 0 0 / 12%);
}

.purchase-online-on-hurst .container .tab-content .products-online .product .image-product {
    position: relative;
    overflow: hidden;
}

.purchase-online-on-hurst .container .tab-content .products-online .product .image-product img {
    width: 100%;
}

.purchase-online-on-hurst .container .tab-content .products-online .product .image-product .product-icons {
    display: flex;
    width: calc(100% - 40px);
    padding: 8px 0;
    position: absolute;
    bottom: -35px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--white-color);
    transition: var(--main-transition) ease-in-out;
    opacity: 0;
    visibility: hidden;
}

.purchase-online-on-hurst .container .tab-content .products-online .product:hover .image-product .product-icons {
    bottom: 15px;
    visibility: visible;
    opacity: 1;
}

.purchase-online-on-hurst .container .tab-content .products-online .product .image-product .product-icons a {
    width: calc(100% / 4);
    text-align: center;
}

.purchase-online-on-hurst .container .tab-content .products-online .product .image-product .product-icons a:not(:last-child) {
    border-right: 1px solid var(--color-dark)
}

.purchase-online-on-hurst .container .tab-content .products-online .product .image-product .product-icons a i {
    color: var(--color-dark);
    font-size: 13px;
}

.purchase-online-on-hurst .container .tab-content .products-online .product .image-product .product-icons a:hover i {
    color: var(--secondary-color);
}

.purchase-online-on-hurst .container .tab-content .products-online .product .info-product {
    background-color: var(--white-color);
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 15px;
}

.purchase-online-on-hurst .container .tab-content .products-online .product .info-product .top,
.purchase-online-on-hurst .container .tab-content .products-online .product .info-product .bottom {
    display: flex;
    justify-content: space-between;
}

.purchase-online-on-hurst .container .tab-content .products-online .product .info-product .top h4 a {
    font-family: 'Bree Serif', serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--fifth-color);
    transition: var(--main-transition) ease-in-out;
}

.purchase-online-on-hurst .container .tab-content .products-online .product .info-product .top h4 a:hover {
    color: var(--secondary-color);
}

.purchase-online-on-hurst .container .tab-content .products-online .product .info-product .top p {
    display: none;
}

.purchase-online-on-hurst .container .tab-content .products-online .product .info-product .bottom .price {
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: var(--third-color);
}

.purchase-online-on-hurst .container .tab-content .products-online .product .info-product .bottom .stars a i {
    font-size: 13px;
    color: var(--third-color);
}

.purchase-online-on-hurst .container .tab-content .products-online .product .new,
.purchase-online-on-hurst .container .tab-content .products-online .product .sale {
    position: absolute;
    top: 30px;
    left: 30px;
    color: var(--white-color);
    height: 25px;
    line-height: 25px;
    padding: 0 10px;
    font-weight: 400;
    font-size: 13px;
    border-radius: 5px;
}

.purchase-online-on-hurst .container .tab-content .products-online .product .new {
    background-color: var(--secondary-color);
}

.purchase-online-on-hurst .container .tab-content .products-online .product .sale {
    background-color: var(--third-color)
}

@media (min-width:768px) {
    .purchase-online-on-hurst .container .tab-content .products-online {
        grid-template-columns: repeat(2, 1fr);
    }

    .purchase-online-on-hurst .container .tab-content .products-online .product .info-product .top p {
        display: block;
        font-weight: 700;
        font-size: 13px;
        line-height: 20px;
        color: var(--color-dark);
    }
}

@media (min-width: 992px) {
    .purchase-online-on-hurst .container .tab-content .products-online {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1200px) {
    .purchase-online-on-hurst .container .tab-content .products-online {
        grid-template-columns: repeat(4, 1fr);
    }
}

/* End Purchase online on Hurst */

/* Start Blog  */
.blog {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.blog .container {
    padding: 0 5px;
}

.blog .container section {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
}

.blog .container section article {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.blog .container section article .text .header {
    display: flex;
    gap: 10px;
}

.blog .container section article .text .header span {
    font-weight: 700;
    font-size: 20px;
    color: var(--third-color);
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid var(--third-color);
}

.blog .container section article .text .header div p {
    font-weight: 700;
    font-size: 13px;
    line-height: 20px;
    color: var(--third-color);
    text-transform: uppercase;
}

.blog .container section article .text .header>div h4 a {
    display: block;
    font-family: 'Bree Serif', serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--fifth-color);
    transition: var(--main-transition) ease-in-out;
    margin-top: 5px;
}

.blog .container section article .text .header>div h4 a:hover {
    color: var(--secondary-color);
}

.blog .container section article .text .body {
    display: flex;
    gap: 10px;
    margin: 12px 0;
}

.blog .container section article .text .body>a {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: var(--fourth-color);
    transition: var(--main-transition) ease-in-out;
}

.blog .container section article .text .body>a:hover {
    color: var(--third-color);
}

.blog .container section article .text .body>a i {
    margin-right: 5px;
}

.blog .container section article .text>p {
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: var(--color-dark);
}

.blog .container section article .text>a {
    display: block;
    font-weight: 700;
    font-size: 13px;
    line-height: 20px;
    color: var(--third-color);
    margin-top: 15px;
}

.blog .container section article .image a {
    display: block;
    overflow: hidden;
}

.blog .container section article .image img {
    width: 100%;
    height: 100%;
    transition: var(--main-transition) ease-in-out;
}

.blog .container section article .image a:hover img {
    transform: scale(1.1);
}

@media (min-width: 768px) {
    .blog .container section article {
        flex-direction: row;
    }

    .blog .container section article .text {
        flex: 1;
    }

    .blog .container section article .image {
        flex-basis: 40%;
    }
}

@media (min-width: 992px) {
    .blog .container section {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1200px) {
    .blog .container section article .image {
        flex-basis: 45%;
    }

    .blog .container section article .text .body {
        gap: 12px;
    }
}

/* End Blog  */
/* Start Subscribe */
.subscribe {
    padding-top: var(--section-padding);
    background-color: var(--white-color);
}

.subscribe .container {
    padding: 0 5px;
}

.subscribe .container form {
    padding: 20px;
    position: relative;
    background-color: var(--white-color);
    top: 40px;
    margin-top: -40px;
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);
}

.subscribe .container form input[type="email"] {
    padding: 10px;
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--third-color);
    background-color: var(--white-color);
    caret-color: var(--color-dark);
}

.subscribe .container form button[type="submit"] {
    position: relative;
    font-weight: 700;
    font-size: 14px;
    width: fit-content;
    padding: 0 40px;
    height: 35px;
    line-height: 35px;
    text-transform: uppercase;
    color: var(--white-color);
    background-color: var(--third-color);
    margin-top: 20px;
    overflow: hidden;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}

.subscribe .container form button[type="submit"]::before {
    content: "subscribe";
    background: var(--secondary-color);
    color: var(--white-color);
    position: absolute;
    left: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    transition: var(--main-transition) ease-in-out;
    text-transform: uppercase;
}

.subscribe .container form button[type="submit"]:hover::before,
.subscribe .container form button[type="submit"]:focus::before,
.subscribe .container form button[type="submit"]:active::before {
    left: 0;
}

.subscribe .container form input:focus,
.subscribe .container form button:focus {
    outline: none;
}

.subscribe .container form input::placeholder {
    font-weight: 400;
    font-size: 13px;
    color: var(--color-dark);
}

@media(min-width:768px) {
    .subscribe .container form {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        gap: 50px;
    }

    .subscribe .container form button[type="submit"] {
        margin-top: 0;
    }

    .subscribe .container form .form-group {
        flex-basis: 60%;
    }
}

/* End Subscribe */
/* Start Footer */
footer {
    padding-top: calc(var(--section-padding) * 2);
    padding-bottom: calc(var(--section-padding) * 2);
    background-color: #f6f6f6;
}

footer .container {
    display: flex;
    flex-wrap: wrap;
    padding: 0 5px;
}

footer .container .contact-us,
footer .container .your-choice-products,
footer .container .accounts,
footer .container .Shipping {
    flex-basis: 100%;
}


footer .container h2 {
    font-weight: 900;
    font-size: 20px;
    line-height: 15px;
    color: var(--fifth-color);
    text-transform: uppercase;
    padding-bottom: 10px;
    position: relative;
    margin: 30px 0;
}

footer .container h2::before {
    content: "";
    position: absolute;
    background-color: var(--third-color);
    width: 50px;
    height: 2px;
    left: 0;
    bottom: 0;
}

footer .container .contact-us .content {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 20px;
    row-gap: 15px;
}

footer .container .contact-us .content p {
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: var(--color-dark);
}

footer .container .contact-us .content address,
footer .container .contact-us .content a {
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: var(--color-dark);
}

footer .container ul li a {
    display: block;
    font-weight: 400;
    font-size: 13px;
    line-height: 27px;
    color: #666666;
    transition: var(--main-transition) ease-in-out;
}

footer .container ul li a i {
    margin-right: 10px;
}

footer .container ul li a:hover {
    color: var(--secondary-color);
}

footer .container .your-choice-products .content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

footer .container .your-choice-products .content .image {
    position: relative;
}

footer .container .your-choice-products .content .image a {
    display: block;
}

footer .container .your-choice-products .content .image a img {
    width: 100%;
}

footer .container .your-choice-products .content .image .hover {
    position: absolute;
    top: 100%;
    left: 20px;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s ease-in-out;
    z-index: 2;
}

footer .container .your-choice-products .content .image .hover a {
    line-height: 400;
    font-size: 13px;
    line-height: 15px;
    color: var(--white-color);
    margin-bottom: 10px;
}

footer .container .your-choice-products .content .image .hover span {
    line-height: 500;
    font-size: 16px;
    line-height: 15px;
    color: var(--white-color);
}

footer .container .your-choice-products .content .image:hover .hover {
    top: 10px;
    opacity: 1;
    visibility: visible;
}

footer .container .your-choice-products .content .image::before {
    content: "";
    position: absolute;
    background-color: rgba(200, 160, 101, 0.5);
    width: 100%;
    height: 0;
    left: 0;
    bottom: 0;
    transition: var(--main-transition) ease-in-out;
    z-index: 1;
}

footer .container .your-choice-products .content .image:hover::before {
    height: 100%;
}

@media (min-width: 576px) {

    footer .container .contact-us,
    footer .container .your-choice-products {
        flex-basis: 100%;
    }

    footer .container .accounts,
    footer .container .Shipping {
        flex-basis: 50%;
    }

    footer .container .your-choice-products .content {
        flex-direction: row;
    }

    footer .container .your-choice-products .content .image {
        flex-basis: 50%;
    }
}

@media (min-width: 768px) {

    footer .container .contact-us {
        flex-basis: 50%;
    }

    footer .container .accounts,
    footer .container .Shipping {
        flex-basis: 25%;
    }

    footer .container .your-choice-products {
        flex-basis: 50%;
    }
}

@media (min-width: 992px) {

    footer .container .contact-us,
    footer .container .your-choice-products {
        flex-basis: calc(100% / 3);
    }

    footer .container .accounts,
    footer .container .Shipping {
        flex-basis: calc(100% / 6);
    }
}

/* End Footer */
/* Start Copyright And Payment */
.copyright-payment {
    background-color: #eeeeee;
    padding-top: calc(var(--section-padding) / 2);
    padding-bottom: calc(var(--section-padding) / 2);
}

.copyright-payment .container {
    padding: 0 5px;
}

.copyright-payment .container .copyright {
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: var(--color-dark);
    text-align: center;
    margin-bottom: 15px;
}

.copyright-payment .container .images-payment {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.copyright-payment .container .images-payment .image a {
    display: block;
}

.copyright-payment .container .images-payment .image a img {
    width: 100%;
}

.copyright-payment>a {
    display: none;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: var(--secondary-color);
    color: var(--white-color);
    position: fixed;
    bottom: 10px;
    right: 20px;
    z-index: 99999999;
}

@media (min-width: 768px) {
    .copyright-payment .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .copyright-payment .container .copyright {
        margin-bottom: 0;
    }
}

/* End Copyright And Payment */