/* Start Breadcrumb  */
.breadcrumb {
    background-image: url("../images/breadcrumb/image_01.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
}

.breadcrumb::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.3);
}

.breadcrumb .container {
    /* for z-index */
    position: relative;
}

.breadcrumb .container h2 {
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: var(--white-color);
    text-align: center;
    padding: 40px 0;
    text-transform: uppercase;
}

.breadcrumb .container ul {
    display: flex;
    padding-bottom: 15px;
}

.breadcrumb .container ul li+li:before {
    padding: 15px;
    color: var(--white-color);
    content: "/\00a0";
    font-weight: 700;
    font-size: 14px;
}

.breadcrumb .container ul li a {
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    color: var(--white-color);
    transition: var(--main-transition) ease-in-out;
    cursor: auto;
}

.breadcrumb .container ul li:first-child a {
    cursor: pointer;
}

.breadcrumb .container ul li:first-child a:hover {
    color: var(--secondary-color);
}

@media (min-width: 768px) {
    .breadcrumb {
        top: 100px;
    }

    .breadcrumb .container h2 {
        font-size: 45px;
        line-height: 33px;
        padding: 100px 0;
    }
}

/* End Breadcrumb  */
/* Start division  */
.division {
    background-color: #f6f6f6;
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

/* Start tabs */
.division .container .tabs {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 30px;
}

.division .container .tabs button {
    border: none;
    outline: none;
    background-color: var(--white-color);
    color: var(--fourth-color);
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.division .container .tabs button.active {
    background-color: var(--secondary-color);
    color: var(--white-color);
}

/* End tabs */
/*  Start division */
.division .container .tab-content {
    flex-direction: column;
    gap: 30px;
}

.division .container .tab-content>div {
    background-color: var(--white-color);
    padding: 30px 15px;
}

.division .container .tab-content h4 {
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    color: var(--fifth-color);
    text-transform: uppercase;
    margin-bottom: 30px;
}

.division .container .tab-content p {
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: var(--fourth-color);
}

.division .container .shopping-cart p {
    margin-bottom: 15px;
}

.division .container form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.division .container form input,
.division .container form select,
.division .container form textarea {
    background-color: #f6f6f6;
    caret-color: var(--fourth-color);
    color: var(--fourth-color);
    border: none;
    outline: none;
    width: 100%;
    font-weight: 400;
    font-size: 13px;
}

.division .container form input,
.division .container form select {
    height: 40px;
    padding: 0 20px;
}

.division .container form textarea {
    height: 100px;
    padding: 15px 20px;
}

.division .container form button,
.division .container .btn {
    background-color: var(--third-color);
    color: var(--white-color);
    height: 35px;
    line-height: 35px;
    padding: 0 30px;
    font-weight: 400;
    font-size: 13px;
    text-transform: uppercase;
    border: none;
    outline: none;
    margin-top: 15px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.division .container form button::before,
.division .container .btn::before {
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: var(--secondary-color);
    color: var(--white-color);
    transition: var(--main-transition) ease-in-out;
}

.division .container form button::before {
    content: attr(data-text);
}

.division .container .btn::before {
    content: "Place Order";
}

.division .container form button:hover::before,
.division .container .btn:hover::before {
    left: 0;
}

.division .container table {
    width: 100%;
}

.division .container table.first-type tr td {
    font-weight: 700;
    font-size: 13px;
    line-height: 20px;
}

.division .container table.first-type tbody tr td {
    padding: 7px 20px;
    color: var(--fourth-color);
    border-bottom: 1px solid #e5e5e5;
}

.division .container table.first-type tr td:last-child,
.division .container table.first-type tr th:last-child {
    text-align: right;
}

.division .container table.first-type tfoot tr td {
    color: var(--third-color);
    padding: 15px 30px 0;
}

.division .container .check-out,
.division .container .order-complete {
    gap: 0;
}

.division .container table thead {
    background-color: #f5f5f5;
    text-align: left;
}

.division .container table thead tr th {
    font-weight: 900;
    font-size: 13px;
    line-height: 20px;
    color: var(--color-dark);
    text-transform: uppercase;
    padding: 10px 30px;
}

.division .container .accordion {
    border: none;
    outline: none;
    background-color: #f6f6f6;
    color: var(--color-dark);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 900;
    font-size: 13px;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    text-transform: uppercase;
    padding: 0 20px;
}

.division .container .panel {
    background-color: var(--white-color);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    padding: 0px 30px;
}

.division .container .accordion:after {
    content: '\f0d7';
    font: var(--fa-font-solid);
}

.division .container .active:after {
    content: "\f0d8";
}

.division .container .accordion,
.division .container .panel p,
.division .container .panel .image {
    margin-bottom: 15px;
}

.division .container .panel .image {
    display: flex;
    gap: 10px;
}

.division .container .tab-content .thank {
    background-color: var(--white-color);
    margin-bottom: 30px;
}

.division .container .tab-content .thank p {
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    color: var(--color-dark);
    padding: 20px 0;
    text-align: center;
}

.division .container .tab-content .info {
    background-color: var(--white-color);
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.division .container .tab-content .info>div {
    flex-basis: 50%;
    padding: 10px;
}

.division .container .tab-content .info>div h4,
.division .container .tab-content .info>div p,
.division .container .tab-content .info>div a {
    display: block;
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    color: var(--color-dark);
    text-transform: uppercase;
    text-align: center;
}

.division .container .tab-content .info>div h4 {
    margin: 0;
}

.division .container .tab-content .info>div a {
    transition: 0.3s ease-in-out;
}

.division .container .tab-content .info>div a:hover {
    color: var(--secondary-color);
}

.division .container .tab-content .overflow {
    overflow-x: auto;
}

.division .container table.second-type thead tr th,
.division .container table.second-type tbody tr td {
    text-align: center;
    white-space: nowrap;
}

.division .container table.second-type thead tr th {
    padding: 10px;
}

.division .container table.second-type tbody tr td {
    padding: 20px 10px 0;
}

.division .container table.second-type thead tr .product-name,
.division .container table.second-type tbody tr .product-name {
    width: 270px;
}

.division .container table.second-type tbody tr .product-name {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 0;
}

.division .container table.second-type tbody tr .product-name .image img {
    width: 100%;
}

.division .container table.second-type tbody tr .product-name h4 {
    margin: 0;
}

.division .container table.second-type tbody tr .product-name h4 a {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: var(--color-dark);
    transition: 0.3s ease-in-out;
}

.division .container table.second-type tbody tr .product-name p {
    color: var(--color-dark);
    margin: 0;
}

.division .container table.second-type tbody tr .product-name h4:hover a {
    color: var(--secondary-color);
}

.division .container table.second-type tbody tr .product-price,
.division .container table.second-type tbody tr .product-stock,
.division .container table.second-type tbody tr .product-total {
    font-weight: 900;
    color: var(--fourth-color);
}

.division .container table.second-type tbody tr .product-total {
    color: var(--color-dark);
}

.division .container table.second-type tbody tr .product-price,
.division .container table.second-type tbody tr .product-total {
    font-size: 16px;
    line-height: 28px;
}

.division .container table.second-type tbody tr .product-stock {
    font-size: 13px;
    line-height: 20px;
    text-transform: uppercase;
}

.division .container table.second-type tbody tr .product-add-cart a i {
    transition: 0.3s ease-in-out;
}

.division .container table.second-type tbody tr .product-add-cart a:hover i {
    color: var(--secondary-color);
}

.division .container table.second-type tbody tr i {
    font-size: 16px;
    color: var(--fourth-color);
}

.division .container table.second-type tbody tr .product-remove a {
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #f5f5f5;
    transition: background-color 0.3s ease-in-out;
    margin: 0 auto;
}

.division .container table.second-type tbody tr .product-remove a:hover {
    background-color: var(--secondary-color);
}

.division .container table.second-type tbody tr .product-remove a i {
    transition: color 0.3s ease-in-out 0.2s;
}

.division .container table.second-type tbody tr .product-remove a:hover i {
    color: var(--white-color);
}

.division .container table.second-type tbody tr .product-quantity button,
.division .container table.second-type tbody tr .product-quantity span {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #f5f5f5;
    color: var(--fourth-color);
    transition: 0.3s ease-in-out;
}

.division .container table.second-type tbody tr .product-quantity button {
    border: none;
    outline: none;
    cursor: pointer;
}

.division .container table.second-type tbody tr .product-quantity span {
    display: inline-block;
    font-size: 20px;
}

.division .container table.second-type tbody tr .product-quantity span,
.division .container table.second-type tbody tr .product-quantity button:first-of-type {
    margin-right: 5px;
}

.division .container table.second-type tbody tr .product-quantity button i {
    transition: 0.3s ease-in-out;
}

.division .container table.second-type tbody tr .product-quantity button:hover i {
    color: var(--secondary-color);
}

@media (min-width: 768px) {
    .division {
        padding-top: calc(var(--section-padding) * 2);
        padding-bottom: calc(var(--section-padding) * 2);
        margin-top: 100px;
    }

    .division .container .tabs {
        flex-direction: row;
        gap: 30px;
    }

    .division .container .tabs button,
    .division .container .tab-content .info>div {
        flex-basis: 25%;
    }

    .division .container .tab-content {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .division .container .shopping-cart>table,
    .division .container .shopping-cart .culculate-shipping,
    .division .container .order-complete .thank,
    .division .container .order-complete .info {
        flex-basis: 100%;
    }

    .division .container .shopping-cart .coupon-discount,
    .division .container .shopping-cart .payment-details {
        flex-basis: calc((100% - 30px) / 2);
    }

    .division .container .check-out>div,
    .division .container .order-complete .our-order,
    .division .container .order-complete .payment-method {
        flex-basis: 50%;
    }

    .division .container .tab-content>div {
        padding: 30px;
    }

    .division .container table.first-type tbody tr td {
        padding: 7px 30px;
    }

    .division .container .culculate-shipping form {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .division .container .tab-content .culculate-shipping form .form-group {
        flex-basis: calc((100% - 45px) / 3);
    }

    .division .container .tab-content .info>div h4 {
        font-size: 16px;
        line-height: 28px;
    }

    .division .container .tab-content .info>div p,
    .division .container .tab-content .info>div a {
        font-size: 13px;
    }

    .division .container .tab-content .overflow {
        flex-basis: 100%;
    }

    .division .container table.second-type thead tr th:first-child,
    .division .container table.second-type tbody tr td:first-child {
        width: 330px;
    }

    .division .container table.second-type tbody tr .product-name {
        gap: 20px;
    }

    .division .container table.second-type tbody tr .image {
        flex-basis: 35%;
    }

    .division .container table.second-type tbody tr .product-name h4 a {
        font-size: 14px;
        line-height: 18px;
    }
}

/* End division  */
/* Start Footer */
footer {
    background-color: #eeeeee;
}

footer .container .email-newsletters {
    flex-basis: 100%;
}

footer .container .email-newsletters form {
    display: flex;
    flex-wrap: wrap;
}

footer .container .email-newsletters form input {
    flex-basis: 100%;
    border: none;
    background-color: #f6f6f6;
    padding: 12px 20px;
    caret-color: var(--fourth-color);
}

footer .container .email-newsletters form button {
    background-color: #f7f7f7;
    color: var(--color-dark);
    font-weight: 700;
    font-size: 13px;
    height: 35px;
    line-height: 35px;
    padding: 0 25px;
    text-transform: uppercase;
    border: none;
    margin-top: 15px;
    position: relative;
    overflow: hidden;
}

footer .container .email-newsletters form button::before {
    content: "Subscribe";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    color: var(--white-color);
    background-color: var(--secondary-color);
    transition: var(--main-transition) ease-in-out;
}

footer .container .email-newsletters form button:hover::before {
    left: 0;
}

footer .container .email-newsletters form button:focus,
footer .container .email-newsletters form input:focus {
    outline: none;
}

footer .container .email-newsletters form input::placeholder {
    font-size: 13px;
    font-weight: 400;
    color: var(--fourth-color);
}

@media (min-width: 768px) {
    footer .container .email-newsletters {
        flex-basis: 50%;
    }
}

@media (min-width: 992px) {
    footer .container .email-newsletters {
        flex-basis: calc(100% / 3);
    }
}

/* End Footer */