body {
    background-color: lightgray;
    padding: 2em;
    /*   display: flex;
  justify-content: center;
  flex-flow: row wrap; */
}

.title {
    text-align: center;
    margin-top: 60px;
}

.portfolio_slider {
    margin: 60px auto;
    max-width: 1200px;
    border-top: 4px solid gray;
    border-bottom: 4px solid gray;
    /*display: flex;*/
    /*   flex-flow: row wrap; */
}

.portfolio_slider {
    flex: 1 1 0;
    background-color: whitesmoke;
}

.inner {
    padding: 6px;
}

img {
    width: 100%;
    height: auto;
}

img:hover {
    opacity: 0.9;
}